.form-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs{
  width: 586px;
  height: 69px;
}

.username-container{
  display: flex;
  align-items: center;
  width: 586px;
}

.username-site-text{
  width: 10%;
}

.username-container .inputs{
  width: 90%;
}

.form-register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-login{
  margin-bottom: 1em !important;
  width: 586px;
}

.btn-createA{
  width: 586px;
}

.forget__pass{
  margin: 1.5em 0;
  color: #bdbdbd;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13pt;
}

.btn-customize-save{
  width: 586px;
}

.form-customize{
  margin: 1em;
}